# main.py

# 1 Loading data

The dataset from [kaggle](https://www.kaggle.com/datasets/wordsforthewise/lending-club) comes into 2 different datasets, one with the accepted loans and the other one with the rejected requests.

In [2]:
import utils
from importer import Importer

utils.set_parent_directory_as_working_directory()

# TODO: Move this to a config file
DATA_FOLDER = "./data/"
KAGGLE_DATASET_NAME = "wordsforthewise/lending-club"
RAW_DATA_FOLDER_NAME = "raw"

# Import the data
importer_name = "importer"
importer =Importer(
    name=importer_name
    , data_folder=DATA_FOLDER
    , kaggle_dataset_name=KAGGLE_DATASET_NAME
    , destination_directory_name=RAW_DATA_FOLDER_NAME)

#importer.execute('raw')

# 2 Data cleaning
We are just going to work only with the dataset of accepted loans (as they are the only ones we know if they haven't been paid). We need to perform some clening tasks before being able to feed a model with this data.

- Select variables available for an investor before deciding to fund the loan. There are some variables in the dataset that we can only know after the loan has been granted and that therefore can cause a [data leakage](https://machinelearningmastery.com/data-leakage-machine-learning/) problems. The description of these variables can be found in [this dictionary](https://www.kaggle.com/datasets/jonchan2003/lending-club-data-dictionary?select=Lending+Club+Data+Dictionary+Approved.csv)

- Dividing sets in temporary windows

- Classic data cleaning tasks including missing values treatment, multicollinearity

- One hot encoding and normalization

## 2.1 Variables available
As previously mentioned, here I am just going to use those variables that I understand that would be available at the time

In [3]:
import pandas as pd

accepted = pd.read_csv(DATA_FOLDER +RAW_DATA_FOLDER_NAME+"/accepted_2007_to_2018Q4.csv")

C:\Users\Asus\AppData\Local\Temp\ipykernel_25928\3191896456.py:3: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  accepted = pd.read_csv(DATA_FOLDER +RAW_DATA_FOLDER_NAME+"/accepted_2007_to_2018Q4.csv")

In [6]:
accepted

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,88985880,NaN,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260697,88224441,NaN,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,C4,...,NaN,NaN,Cash,Y,Mar-2019,ACTIVE,Mar-2019,10000.0,44.82,1.0
2260698,88215728,NaN,14000.0,14000.0,14000.0,60 months,14.49,329.33,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260699,Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN